body {
    margin: 0px;
}

header button {
    padding-left: 10px;
    padding-right: 0px;
}

/* 즐겨찾기 추가 버튼 */
.favWeb {
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    border: none;
    display: inline-block;
}

/* 사용자 이름 지우는 버튼 */
#removeName {
    display:none;
    font-weight: bold;
    background-color: #fff;
    border: none;
    cursor: pointer;
}


/* 메인 전체 크기 */
.lzMainContent {
    padding-top: 10px;
    width: 100%;
    margin: 0 auto;
}

/* 리스트, 사이드 총괄 */
.section-aside {
    width: 1400px;
    margin: 0 auto;
    display: flex;
}

/* 메인 안 리스트 크기 */
section.container-list {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 1040px;
}

/* 사이드 광고 */
aside {
    width: 160px;
}
#aside-right {
    position: relative;
    float: left;
    bottom:1px;
}
#aside-left {
    position: relative;
    float: right;
}

/* 날짜 */
.date h4 {
    padding-top: 0;
    height: 10px;
    margin-bottom: 0;
    text-align: center;
}

/* 시계 */
.clock h1 {
    height: 60px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 4rem;
    text-align: center;
}

/* 사용자 이름 */
.form, .greeting {
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom:20px;
    display:none;
}
.form h1 {
    margin: 10px;
}
.form h2 {
    margin: 0 auto;
}
.form h4, .form h5{
    margin: 10px;
}
input {
    text-align:center;
    position:relative;
    border-width: 0 0 3px 0;
    border-color: black;
    font-weight: bold;
    font-size: 200%;
}
input:focus {
    outline:none;
}
.showing {
    text-align: center;
    display: inline-block;
}

/* 리스트 열기 이펙트 */

.show {
    animation: fade-in 1s;
}
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* 링크 리스트 제목 마우스 올릴시 커서 모양 */
.list-title, .big-title {
    cursor: pointer;
}

/* 링크 리스트 외관 */
ul {
    list-style: none;
}

/* 링크 이미지 */
li img {
    display:inline-block;
    padding-top:10px;
    border: 0;
    width:70%;
    height:50px;
}

/* 링크 이미지 및 텍스트 */
.image-text {
    width:auto;
    display:block;
    font-weight: bold;
}

/* 링크 */
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* 좋아요 버튼 */
.favbtn{
    width:auto;
    padding: 0;
    background: none;
    position:relative;
    font-size: 16px;
    padding: 2px 3px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
} 
.favbtn:hover {
    color:#01A9DB
}

/* 링크 리스트 */
.wrap-items {
    position: relative;
    border-top: 1px solid #ccc;
    padding-bottom:10px;
    letter-spacing: -0.5px;
    background: #fff;
}

/* 링크 리스트 제목 */
h2 {
    margin-top:20px;
    margin-bottom:10px;
    width: 300px;
}
h3 {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 0px;
}
h2:hover, h3:hover {
    color:#01A9DB
}

/* 큰 리스트 속 리스트들 정렬 */
#big-title-content {
    padding-left: 0px;
}

/* 링크 리스트 내용 총괄 */
#list-title-content, #favlist-content {
    font-size: 0;
    padding-bottom: 10px;
    padding-top: 5px;
}

/* 링크 리스트 속 칸 디자인 */
#list-title-content li, #favlist-content li {
    position: relative;
    display:inline-table;
    width: calc(95%/5);
    text-align: center;
    font-size: 0.9rem;
}

/* 링크 리스트 속 칸의 링크 디자인 */
#list-title-content li a, #favlist-content li a {
    display: block;
    /* padding: 0 5px; */
    /* box-sizing: border-box;
    background: #ffffff;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

#program {
    border-bottom: 1px solid #ccc
}

/* 푸터 */
#footer-inside {
    position:relative;  
    width:100%;  
    text-align:center;   
    height:90px;
    line-height:30px;  /*  as the height  */
    font-size: 0.7em;
    font-weight: bold;
    color: gray;
    background-color: #DCDCDC;
}